<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="gr.softways.shopdemo" version="1.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Softways Mob App Demo</name>
  <description>
    Mobile application for swift e-commerce platform
  </description>
  <author email="info@softways.gr" href="http://www.softways.gr/">
    Softways Hellas S.A.
  </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="5000"/>
  <preference name="SplashMaintainAspectRatio" value="true"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <platform name="ios">
    <hook type="after_prepare" src="package-hooks/ios9_allow_http.sh"/>
    <preference name="deployment-target" value="8.0"/>
  </platform>
</widget>