<ion-view cache-view="false">
  <ion-nav-title class="ion-nav-title">
    Επικοινωνία
  </ion-nav-title>
  <ion-content>
    <div class="list card product_card" >
      <div class="item-name">
        <h2>{{contactInfo.title}}</h2>
      </div>
      <div class="item item-body">
        <div class="item-description" ng-bind-html="description"></div>
        <div class="row">
          <div class="col col-20">
            <i class="ion-ios-telephone"></i>
          </div>
          <div class="col col-80">
            {{contactInfo.phone}}
          </div>
        </div>
        <div class="row">
          <div class="col col-20">
            <i class="ion-email"></i>
          </div>
          <div class="col col-80">
            {{contactInfo.email}}
          </div>
        </div>
        <div class="row">
          <div class="col col-20">
            <i class="ion-ios-home"></i>
          </div>
          <div class="col col-80">
            {{contactInfo.address1}}<br/>{{contactInfo.address2}}<br/>Τ.Κ. {{contactInfo.postalCode}}<br/>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>