<ion-view cache-view="false">
  <ion-nav-title class="ion-nav-title">
    Επικοινωνία
  </ion-nav-title>  
  <ion-nav-buttons side="right">
    <a class="ion-home-color" ng-href="#/app/home">
      <i class="ion-home"></i>
    </a>
  </ion-nav-buttons>
  <ion-content>
    <div class="list card product_card" >
      <div class="item-name">
        <h2>{{ContactDetails.title}}ΕΜΠΟΡΙΟ ΒΡΕΦΙΚΩΝ - ΠΑΙΔΙΚΩΝ ΕΙΔΩΝ</h2>
      </div>
      <div class="item item-body">
        <div class="item-description" ng-bind-html="description"></div>
        <div class="row">
          <div class="col col-20">
            <i class="ion-ios-telephone"></i>
          </div>
          <div class="col col-80">
            {{ContactDetails.phone}}2315-507949
          </div>
        </div>
        <div class="row">
          <div class="col col-20">
            <i class="ion-email"></i>
          </div>
          <div class="col col-80">
            {{ContactDetails.email}}Sales@qualito.gr
          </div>
        </div>
        <div class="row">
          <div class="col col-20">
            <i class="ion-ios-home"></i>
          </div>
          <div class="col col-80">
            {{ContactDetails.address}}Εθνικής Αντιστάσεως 114<br/>
Καλαμαριά Θεσσαλονίκης<br/>
Τ.Κ. 55134<br/>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>