<ion-view can-swipe-back="false" cache-view="false">
  <ion-nav-title>{{appConfig.appName}}</ion-nav-title>
  <ion-content>
    <div class="top-items"><h2>Αγαπημένα</h2></div>    
    <ion-list>
      <ion-item ng-repeat="favorite in favorites track by favorite.id" class="item-listing" ng-if="$even">
        <div class="row" ng-if="$even">
          <div class="col col-50" ng-repeat="favorite in [favorites[$index],favorites[$index + 1]]">
            <div class="list card" ng-show="favorite.name">
              <div class="item item-body">
                <a href="#/app/product/{{favorite.id}}" style="text-decoration: none;">
                  <div class="item-image"><img class="" ng-src="{{favorite.image}}" alt=""></div>
                </a>
                <div class="item-info button-visit">
                  <div class="item-name">{{favorite.name}}</div>
                    <div>
                      <button class="button button-block button-light heart" ng-class="heart" ng-click="showConfirm(favorite.id);"><i class="ion-ios-star"></i></button>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-list>
    <div class="row" ng-show="showClearBtn">
      <div class="col col-100 button-visit" style="text-align: center;" >
        <button class="button button-block button-assertive" ng-click="clearFavorites()">
          Διαγραφή όλων
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
