<ion-view cache-view="false">
  <ion-nav-title>
    {{pathName}}
  </ion-nav-title>
  <ion-content>
    <div class="list card product_card" >
      <div class="item-name">
        <h2>{{ProductInfo.name}}</h2>
      </div>
      <div class="item item-body">
        <div style="text-align: center;">
          <ks-swiper-container initial-slide="1" speed="2000" loop="true" show-nav-buttons="false" slides-per-view="1" space-between="5"
            paginationClickable="true" pagination= "swiper-pagination"
            override-parameters="{effect: 'slide'}">
            <ks-swiper-slide class="swiper-slide" ng-repeat="s in [1, 3, 4, 5]">
              <img class="full-image" ng-src="img/cat{{s}}.jpg">
            </ks-swiper-slide>            
            <ks-swiper-pagination></ks-swiper-pagination>
          </ks-swiper-container>
        </div>
        <p class="item-description">
          {{ProductInfo.description}}
        </p>
        <div class="row">
          <div class="col col-35 product-bottom">
            <button class="button button-block button-light" ng-click="shareAnywhere()"><i class="ion-android-share-alt"></i></button>            
          </div>
          <div class="col col-35 product-bottom">
            <button class="button button-block button-light heart"  ng-click="favoritesService.searchFavorites(ProductInfo.id,ProductInfo.name,ProductInfo.thumb,ProductInfo.description,ProductInfo.price);"><i class="ion-android-favorite-outline"></i></button>
          </div>
          <div class="col col-30 product-bottom">
        <h2><span class="item-price"> €{{ProductInfo.price}} EUR</span></h2>
          </div>
        </div>
        <p>
          <!-- Plugin for system browser source: https://blog.nraboy.com/2014/07/launch-external-urls-ionicframework/ -->   
          <a class="item" href="#" onclick="window.open('http://www.softways.gr', '_system', 'location=yes'); return false;">
            <button class="button button-block button-stable">
              Read more on web site
            </button>
          </a>
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>

<!-- slider code from http://www.gajotres.net/how-to-create-elegant-slider-carousel-in-ionic-framework/ -->
