<ion-view cache-view="false">
  <ion-nav-title>
    {{pathName}}
  </ion-nav-title>
  <ion-content>
    <div class="list card" ng-repeat="product in ProductInfo">
      <div class="item item-avatar">
        <h2>{{product.name}} - <span class="price">{{product.price}} €</span></h2>
        <div class="row">
          <div class="col col-50">
            <button class="button button-block button-light" ng-click=""><i class="ion-android-share-alt"></i></button>            
          </div>
          <div class="col col-50">
            <button class="button button-block button-light heart" ng-class="{heart: isFavorite===true,heart2: isFavorite===false}" ng-click="favoritesService.searchFavorites({{product.id}},'{{product.name}}','{{product.image}}','{{product.description}}',{{product.price}});"><i class="ion-android-favorite-outline"></i></button>
          </div>
        </div>
      </div>
      <div class="item item-body">
        <div style="text-align: center;">
          <ks-swiper-container initial-slide="1" speed="2000" loop="true" show-nav-buttons="false" slides-per-view="1" space-between="5"
            paginationClickable="true" pagination= "swiper-pagination"
            override-parameters="{effect: 'slide'}">
            <ks-swiper-slide class="swiper-slide" ng-repeat="s in [1, 3, 4, 5]">
              <img class="full-image" ng-src="img/cat{{s}}.jpg">
            </ks-swiper-slide>            
            <ks-swiper-pagination></ks-swiper-pagination>
          </ks-swiper-container>
        </div>
        <p>
          {{product.description}}
        </p>
        <p>
          <!-- Plugin for system browser source: https://blog.nraboy.com/2014/07/launch-external-urls-ionicframework/ -->   
          <a class="item" href="#" onclick="window.open('http://www.softways.gr', '_system', 'location=yes'); return false;">
            <button class="button button-block button-stable">
              Read more on web site
            </button>
          </a>
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>

<!-- slider code from http://www.gajotres.net/how-to-create-elegant-slider-carousel-in-ionic-framework/ -->
