<ion-view cache-view="false">
  <ion-nav-title class="ion-nav-title">
    {{pathName}}
  </ion-nav-title>  
  <ion-nav-buttons side="right">
    <a class="ion-home-color" ng-href="#/app/home" ng-click="goHome()"><i class="ion-ios-home-outline"></i></a>
  </ion-nav-buttons>
  <ion-content>
    <div style="text-align: center;" ng-show="productLoading"><ion-spinner></ion-spinner></div>
    <div class="list card product_card" >
      <div class="item item-body">
        <div style="text-align: center;">
          <ion-slides options="galleryOptions" slider="gallerySlider">
            <ion-slide-page ng-repeat="slide in ProductInfo.gallery">
              <img ng-src="{{slide}}">
            </ion-slide-page>
          </ion-slides>
        </div>
        <div class="item-name-details">
          <h2>{{ProductInfo.name}}</h2>
        </div>
        <div class="item-description" ng-bind-html="description"></div>
        <div class="row">
          <div class="col col-35 product-bottom">
            <button class="button button-block button-light" ng-click="shareAnywhere()"><i class="ion-android-share-alt"></i></button>            
          </div>
          <div class="col col-35 product-bottom">
            <button class="button button-block button-light heart" ng-class="{heart: isFavorite===true,heart2: isFavorite===false}" ng-click="favoritesService.searchFavorites(ProductInfo.id,ProductInfo.name,ProductInfo.thumb,ProductInfo.description,ProductInfo.price);"><i class="ion-ios-star"></i></button>
          </div>
          <div class="col col-30 product-bottom">
            <h2 ng-if="ProductInfo.price"><span class="item-price item-price-details"> € {{ProductInfo.price}}</span></h2>
            <h2 ng-if="!ProductInfo.price"><span class="item-price">&nbsp;</span></h2>
          </div>
        </div>
        <div class="row">
          <div class="col col-100 button-visit">
            <!-- Plugin for system browser source: https://blog.nraboy.com/2014/07/launch-external-urls-ionicframework/ -->   
            <a class="item" href="#" ng-click="openURL()">            
              <button class="button button-block button-stable">
                Επισκεφτείτε το web site μας
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>

<!-- slider code from http://ask4kapil.xyz/2016/01/19/ionic-with-swiper/ -->
