/* Empty. Add your own CSS if you like */
.price{
  color:#a7a7a7;
}
.heart {
  text-decoration: underline;
  color:#ff0000 !important;
}
.heart2 {
  text-decoration: underline;
  color:#DBDBDB !important;
}
.ion-android-favorite-outline:before {
  font-size:32px;
}
.ion-home {
  font-size:32px; 
  color: #606060; 
}
.ion-ios-telephone {
  font-size:32px; 
  color: #606060; 
}
.ion-email {
  font-size:32px; 
  color: #606060; 
}
.ion-ios-home {
  font-size:32px; 
  color: #606060; 
}
.ion-home-color{
  color: #606060; 
}
.ion-navicon:before {
  font-size:32px; 
  color: #606060; 
}
.listing-title {
  padding: 15px;
}
.listing-title h1{
  color:#323232 !important;
}
.top-items {
  text-align: center;
}
.top-items h2{
  color: #a7a7a7;
  font-size: 20px;
}
.item-listing {
  border-color: #ddd;
  background-color: #f5f5f5;
  color: #444;
  position: relative;
  z-index: 2;
  display: block;
  margin: -1px;
  padding: 0px;
  border-width: 0px;
  border-style: none;
  font-size: 16px; 
}
.item-name {
  padding: 8px 8px 3px 8px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 50px;
  max-height: 50px;
}
.item-name-details {
  padding: 8px 8px 3px 8px;
}
.item-name-details h2{
  color: #323232;
}
.item-name h2{
  color: #323232;
}
.item-info {
  padding: 0px 8px 3px 8px;
  color: #a7a7a7;
}
.item-description {
  padding: 8px 8px 3px 8px;
  color: #a7a7a7;
}
.item-info .row{
  padding: 0px !important;
  color: #a7a7a7;
}
.item-price {
  color: #323232;
  padding-top: 0px !important;
  padding: 0px 8px 3px 8px;
  text-align: left;
}
.item-price-details {
    font-weight: bold;
}
.item-price-favorites {
  color: #323232;
  padding-top: 0px !important;
  text-align: left;
}
.item-body {
  color: #323232;
  padding-top: 0px !important;
}
.product-bottom {
  text-align: center;
} 
.ion-nav-title{
  text-align: center;
}
.product_card{
  box-shadow: none;
}
.nav-bar-title{
  text-align: center;
  color: #323232;
}
.ion-nav-title{
   text-align: center;
}
#map {
  width: 100%;
  height: 100%;
}

.scroll {
  height: 100%;
}
.list:last-child.card {
    margin-bottom: 20px;
}
.button.button-stable {
  border-color: transparent;
  background-color: #e0e0e0;
  color: #444; 
}
.button-visit {
  width: 100%;
}
.bar .title {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    margin: 0 10px;
    min-width: 30px;
    height: 43px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 500;
    line-height: 44px; 
}
.button-search {
  background-color: #eeeeee;
}
.input-search {
  background-color: #f8f8f8;
}