@charset "UTF-8";

.ion-ios-search-strong:before {
  content: url('../../../img/search.png');
}

.overflow-scroll.keyboard-up:not(.keyboard-up-confirm) {
  overflow: hidden;
}

.bar.bar-balanced.bar-footer {
  background-image: linear-gradient(180deg, #28a54c, #0c60ee 50%, transparent 50%);
}

.bar-light .button {
  border-color: transparent;
}

.bar-stable .button {
  border-color: transparent;
}

.bar-positive .button {
  border-color: transparent;
}

.bar-calm .button {
  border-color: transparent;
}

.bar-assertive .button {
  border-color: transparent;
}

.bar-balanced .button {
  border-color: transparent;
}

.bar-energized .button {
  border-color: transparent;
}

.bar-royal .button {
  border-color: transparent;
}

.bar-dark .button {
  border-color: transparent;
}

.bar-subheader {
  display: block;
}

.bar-subfooter {
  display: block;
}

.popup-buttons {
  background-color: #696969;
}

.popup-buttons .button {
  background-color: #696969;}

.popup-buttons .button:last-child {
  background-color: #696969;
}

.popup-buttons .button.activated:last-child {
  background-color: #696969;
}

.item-complex .item-content,
.item-radio .item-content {
  background-color: #F5F5F5;
}

.item-thumbnail-left,
.item-thumbnail-left .item-content {
  padding-top: 38px;
  padding-left: 126px;
}

.item-thumbnail-left > img:first-child,
.item-thumbnail-left .item-image,
.item-thumbnail-left .item-content > img:first-child,
.item-thumbnail-left .item-content .item-image {
  max-width: 100px;
  max-height: 75px;
}

.item-image {
  padding: 0;
  text-align: center;
}

.item-image img:first-child, .item-image .list-img {
  max-width: 320px;
}

.item-body {
  padding: 0px;
}

.card,
.list-inset {
  margin: 0px;
}

textarea::-moz-placeholder {
  color: #a7a7a7;
}
textarea:-ms-input-placeholder {
  color: #a7a7a7;
}
textarea::-webkit-input-placeholder {
  color: #a7a7a7;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  padding-left: 5px;
  color: #323232;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  padding-left: 5px;
  color: #323232;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  padding-left: 5px;
  color: #323232;
}

.button-small {
  padding: 0px 10px 0px 10px;
}

.button-clear.button-clear {
  color: #b2b2b2;
}

.button-outline.button-outline {
  border-color: #b2b2b2;
  color: #b2b2b2;
}

.button-outline.button-outline.active, .button-outline.button-outline.activated {
  background-color: #b2b2b2;
}

.price{
  color:#a7a7a7;
}
.heart {
  text-decoration: underline;
  color:#ff0000 !important;
}
.heart2 {
  text-decoration: underline;
  color:#DBDBDB !important;
}

.ion-android-favorite-outline:before {
  font-size:32px;
}
.ion-ios-star:before {
  font-size: 40px;
}
.ion-android-share-alt:before {
  font-size:32px;
}
.ion-ios-home-outline {
  font-size:32px; 
  color: #606060; 
}
.ion-ios-list {
  font-size:20px; 
  color: #606060; 
  vertical-align: middle;
}
.ion-android-star {
  font-size:20px; 
  color: #606060; 
  vertical-align: middle;
}
.ion-ios-location {
  font-size:20px; 
  color: #606060; 
  vertical-align: middle;
}
.ion-android-phone-portrait {
  font-size:20px; 
  color: #606060; 
  vertical-align: middle;
}
.ion-ios-telephone {
  font-size:32px; 
  color: #606060; 
}
.ion-email {
  font-size:32px; 
  color: #606060; 
}
.ion-ios-home {
  font-size:32px; 
  color: #606060; 
}
.ion-home-color {
  color: #606060; 
}
.ion-navicon:before {
  font-size:32px; 
  color: #606060; 
}
.listing-title {
  padding: 15px;
}
.listing-title h1 {
  color:#323232 !important;
  font-size: 20px;
}
.top-items {
  text-align: center;
}
.top-items h2{
  margin-top: 10px;
  margin-bottom: 13px;
  color: #a7a7a7;
  font-size: 20px;
}
.item-listing {
  border-color: #ddd;
  background-color: #f5f5f5;
  color: #444;
  position: relative;
  z-index: 2;
  display: block;
  margin: -1px;
  padding: 0px;
  border-width: 0px;
  border-style: none;
  font-size: 16px; 
}
.item-name {
  padding: 8px 8px 3px 8px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 50px;
  max-height: 50px;
}
.item-name-details {
  padding: 8px 8px 3px 8px;
}
.item-name-details h2 {
  color: #323232;
  font-weight: bold;
  font-size: 20px;
}
.item-name h2 {
  color: #323232;
}
.item-info {
  padding: 0px 8px 3px 8px;
  color: #a7a7a7;
}
.item-description {
  padding: 8px 8px 3px 8px;
  color: #a7a7a7;
}
.item-info .row {
  padding: 0px !important;
  color: #a7a7a7;
}
.item-price {
  color: #323232;
  padding-top: 0px !important;
  padding: 0px 8px 3px 8px;
  text-align: left;
}
.item-price-details {
  font-weight: bold;
}
.item-price-favorites {
  color: #323232;
  padding-top: 0px !important;
  text-align: left;
}
.item-body {
  color: #323232;
  padding-top: 0px !important;
}
.product-bottom {
  text-align: center;
} 
.ion-nav-title {
  text-align: center;
}
.product_card {
  box-shadow: none;
}
.nav-bar-title {
  text-align: center;
  color: #323232;
}
.ion-nav-title {
  text-align: center;
}
#map {
  width: 100%;
  height: 100%;
}

.scroll {
  height: 100%;
}

.list:last-child.card {
  margin-bottom: 20px;
}

.button.button-stable {
  border-color: transparent;
  background-color: #e0e0e0;
  color: #444; 
}

.button-visit {
  text-align: center !important;
}

button.button-block,
button.button-full,
.button-full > button.button,
input.button.button-block {
  width:fit-content;
  display:inline;
}

.bar .title {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
  margin: 0 10px;
  min-width: 30px;
  height: 43px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 500;
  line-height: 44px; 
}

.button-search {
  background-color: #eeeeee;
}

.input-search {
  background-color: transparent;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.menu {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 0;
  overflow: hidden;
  min-height: 100%;
  max-height: 100%;
  width: 275px;
  background-color: #ddd; }

.menu-item {
  border-color: #fff;
  background-color: #ddd;
  color: #323232;
}

.item-complex .item-content,
.item-radio .item-content {
  position: relative;
  z-index: 2;
  padding: 16px 49px 16px 16px;
  border: none;
  background-color: #ddd; 
}
.menu_option {
  padding-left:5px;
}

.home_image {
  overflow: hidden;
  height: 40%; 
}

.ion-search {
  font-size: 20px;
}

.ion-flash-off {
  font-size: 200px;
  color: #cccccc;
}

.swiper-pagination-bullet-active {
  background: #636363 none repeat scroll 0 0;
}

.search-for h2 {
  padding-left: 10px;
  margin-top: 10px;
  color: #323232;
  font-size: 20px;
}